.form__submit-btn_disabled{
    color: #C4C4C4;
    background: white;
    border: 1px solid #C4C4C4;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}